﻿<div class="container_center">
    <div class="box_center">
        <img src="https://media.giphy.com/media/swhRkVYLJDrCE/giphy.gif" alt="Carregando" style="width:100%; height:100%" />
    </div>
</div>

@code {

}
