﻿@page "/categoria"
@inject ICategoriaData _data
@inject NavigationManager _nav
@using System.Linq;

@if (IsFormCad)
{
    <button type="button" @onclick="Voltar" class="btn btn-dark float-right" style="margin-bottom:1%;"><span class="oi oi-arrow-thick-left"></span> Voltar</button>
    <CadEditCategoria Titulo="Cadastrar nova Categoria." Model="@Categoria" Salvar="@Guardar"></CadEditCategoria>
}
else
{
    @if (ListaCategoria != null)
    {
        <div class="card">
            <div class="card-header">
                <button type="button" @onclick="NovaCategoria" class="btn btn-dark float-right"><span class="oi oi-medical-cross"></span> Nova Categoria</button>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-bordered table-hover border-dark">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th align="center">...</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ListaCategoria)
                            {
                                <tr>
                                    <td>@item.Nome</td>
                                    <td>@item.Descricao</td>
                                    <td>
                                        <button class="btn btn-primary bg-dark btn-sm" type="button" @onclick="@(() => EditarCategoria((int)item.Id))"><span class="oi oi-pencil"></span> Editar</button>
                                        <button class="btn btn-danger bg-dark btn-sm" type="button" @onclick="@(() => DeletarCategoria((int)item.Id))"><span class="oi oi-trash"></span> Excluir</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    else
    {
        <CarregandoLists></CarregandoLists>
    }
}

@code {

    protected bool IsFormCad { get; set; }
    public Categoria Categoria { get; set; }
    public IList<Categoria> ListaCategoria { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Categoria = new Categoria();
        try
        {
            await Carregando();
        }
        catch (ExecutionEngineException ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    protected void NovaCategoria()
    {
        IsFormCad = true;
    }

    protected void Voltar()
    {
        IsFormCad = false;
    }

    protected void EditarCategoria(int id)
    {
        if (((List<Categoria>)ListaCategoria).Exists(c => c.Id == id))
        {
            var obj = ((List<Categoria>)ListaCategoria).FirstOrDefault(c => c.Id == id);
            if (obj == null)
                return;

            Categoria = obj;
            NovaCategoria();
        }
    }

    protected async Task DeletarCategoria(int id)
    {
        var obj = await _data.DelAsync(id);

        if (obj != null)
            await Carregando();
    }

    private async Task Carregando()
    {
        Console.WriteLine("Carregando");

        if (_data == null)
            Console.WriteLine("Tá nulo troxa");

        ListaCategoria = await _data.GetAsync();
        Console.WriteLine("Carregado");
    }

    protected async Task Guardar()
    {
        var obj = new Categoria();

        if (Categoria.Id > 0)
            obj = await _data.PutAsync((int)Categoria.Id, Categoria);
        else
            obj = await _data.PostAsync(Categoria);

        if (obj != null && obj.Id > 0)
        {
            await Carregando();
            Voltar();
        }
    }

}
