﻿<EditForm Model="Model" OnValidSubmit="@Salvar">
    <DataAnnotationsValidator />

    <div class="card border-dark col-sm-12">
        <div class="card-header">
            <h4><span class="oi oi-double-quote-serif-left"></span> @Titulo</h4>
        </div>

        <div class="card-body">

            <ValidationSummary />

            <div class="form-group">
                <label class="col-sm-2 col-form-label">Nome: </label>
                <div class="col-sm-10">
                    <InputText @bind-Value="Model.Nome" class="form-control" placeholder="ex: Fulano"></InputText>
                    <ValidationMessage For="@(()=> Model.Nome)" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-form-label">Descrição: </label>
                <div class="col-sm-10">
                    <InputTextArea @bind-Value="Model.Descricao" class="form-control" placeholder="ex: Fulano"></InputTextArea>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-dark bg-dark float-right" @onclick="Salvar"><span class="oi oi-circle-check"></span> Salvar</button>
        </div>
    </div>
</EditForm>

@code {

    [Inject]
    public NavigationManager navigation { get; set; }

    [Parameter]
    public Categoria Model { get; set; }

    [Parameter]
    public string Titulo { get; set; }

    [Parameter]
    public EventCallback Salvar { get; set; }

}
